.search-field{
  margin-left: 0!important;
  padding-left: 10px !important;;
}
table{
  width: fit-content !important;
  margin-left: 10px;
}
.tableWrap{
  display: flex !important;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.submitRdf{
}

.rfdForm{
  padding: 20px 0;
  margin-bottom: 50px;

}
.tableButtons{
  margin-top: 20px;
}

.hidden{
  display: none!important;

}
textarea {
  height: 100px;
}