{% extends '../layouts/dev.twig' %}


{% block page_content %}

    <div class="container-fluid ">
        <header class="dev-header">

            <header class="row d-inline-block">
                <img class="img-fluid" src="img/logo.png" alt="">
                <h1>RFD Tool</h1>
            </header>
            <nav class="block--navigation">


            </nav>


        </header>
        <div class="container-fluid">
            <div class="container input-group col-4 search-field">
                <div class="input-group-prepend">
                    <button class="btn  btn-outline-secondary " type="button">Find RFD</button>
                </div>
                <input type="text" class="form-control">
                <div class="input-group-append">
                    <div class="dropdown">
                        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu1"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Filter
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenu1">
                            <a class="dropdown-item" href="#">Action</a>
                            <a class="dropdown-item" href="#">Another action</a>
                        </div>
                    </div>
                </div>
            </div>
            <button class="newRfd btn btn-info m-2" name="newRfd">New RFD</button>
            <div class="row container-fluid d-flex justify-content-around">
                {% include '../blocks/rfdForm.twig' %}
                {% include '../blocks/rfdTable.twig' %}
                {#{% include '../blocks/taskTable.twig' %}#}

            </div>


        </div>

    </div>
{% endblock %}


{% block page_title %}Base prototype{% endblock %}
