<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <title>{% block page_title %}{% endblock %}</title>
        <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no">
        <link rel="stylesheet" href="css/dev_styles.css">
        <link rel="stylesheet" href="/.npm/node_modules/bootstrap/dist/css/bootstrap.min.css">

        <!-- <link rel="shortcut icon" href="" type="image/png"> -->
        <script src="/js/lib/jquery.min.js"></script>
        <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.11.0/umd/popper.min.js"></script>

        <script src="/.npm/node_modules/bootstrap/dist/js/bootstrap.min.js"></script>
        <script src="/.npm/node_modules/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
        <script src="/js/script.min.js"></script>

    </head>
    <body class="layout--dev">
        
        {% block page_content %}{% endblock %}
        
    </body>
</html>