

// Fonts
$font: helvetica, sans-serif;


// Colors
$white: #ffffff;
$grey: #999999;
$black: #000000;


// Grid

$grid-max-width: 1200px;
$grid-side-margin: 20px;
$grid-tablet-side-margin: 20px;
$grid-mobile-side-margin: 10px;
$grid-gutter: 20px;
$grid-tablet-gutter: 20px;
$grid-mobile-gutter: 10px;


// Breakpoints

$mobile-small: 320px;
$mobile: 480px;
$tablet-small: 768px;
$tablet: 1024px;
$desktop-small: 1200px;
$desktop: 1440px;

